<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Suíno Software</span> -->
    <img src="assets/img/marca.png" width="12%">
    <span class="example-spacer"></span>
    <button routerLink="home" mat-button>Home</button>
    <button  (click)="logout()" mat-button>Sair</button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="home" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                <mat-icon inline="true">savings</mat-icon>&nbsp; Suínos
            </mat-expansion-panel-header>
            <mat-nav-list>
                <button routerLink="cadastrar-suino" mat-button><mat-icon>add</mat-icon> Incluir</button><br>
                <button routerLink="listar-suinos" mat-button><mat-icon>list</mat-icon>Listar</button>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                <mat-icon inline="true">balance</mat-icon>&nbsp; Pesos
            </mat-expansion-panel-header>
            <mat-nav-list>
                <button routerLink="cadastrar-pesos" mat-button><mat-icon>add</mat-icon> Cadastrar</button><br>
                <button routerLink="consultar-pesos" mat-button><mat-icon>search</mat-icon>Consultar</button>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="m-4 conteudo">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
